go 1.20

use (
	./airport-robot
	./animal-magic
	./annalyns-infiltration
	./bird-watcher
	./blackjack
	./booking-up-for-beauty
	./card-tricks
	./cars-assemble
	./census
	./chessboard
	./collatz-conjecture
	./election-day
	./elons-toys
	./expenses
	./gross-store
	./interest-is-interesting
	./lasagna-master
	./logs-logs-logs
	./meteorology
	./need-for-speed
	./parsing-log-files
	./party-robot
	./raindrops
	./sorting-room
	./the-farm
	./two-fer
	./vehicle-purchase
	./weather-forecast
	./welcome-to-tech-palace

)
